roboflow
centernet2
git+https://github.com/openai/CLIP.git
XlsxWriter
kaggle
glasses-detector>=1.0.3
google-api-python-client
google-auth-oauthlib
pandas
openpyxl
scikit-learn
torch
torchvision
'git+https://github.com/facebookresearch/detectron2.git'
autodistill-detic
supervision
opencv-python
tqdm